In [143]:
import pandas as pd
import numpy as np
import torch
import json
import ast

In [163]:
credits = pd.read_csv('./the-movies-dataset/credits.csv', dtype={'id': int})
metadata = pd.read_csv('./the-movies-dataset/movies_metadata.csv', usecols=['budget', 
                'genres', 'id', 'popularity', 'release_date', 'revenue', 'vote_average', 'vote_count'])

In [164]:
metadata['id'] = pd.to_numeric(metadata['id'], errors='coerce',downcast="integer")
metadata['budget'] = pd.to_numeric(metadata['budget'], errors='coerce')
metadata['revenue'] = pd.to_numeric(metadata['revenue'], errors='coerce')
metadata['vote_average'] = pd.to_numeric(metadata['vote_average'], errors='coerce')
metadata['vote_count'] = pd.to_numeric(metadata['vote_count'], errors='coerce')
metadata['popularity'] = pd.to_numeric(metadata['popularity'], errors='coerce')

In [165]:
df.dropna(subset=["id"],inplace=True)

In [166]:
metadata

,budget,genres,id,popularity,release_date,revenue,vote_average,vote_count
0,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862.0,21.9469,1995-10-30,373554033.0,7.7,5415.0
1,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844.0,17.0155,1995-12-15,262797249.0,6.9,2413.0
2,0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602.0,11.7129,1995-12-22,0.0,6.5,92.0
3,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357.0,3.85949,1995-12-22,81452156.0,6.1,34.0
4,0.0,"[{'id': 35, 'name': 'Comedy'}]",11862.0,8.38752,1995-02-10,76578911.0,5.7,173.0
5,60000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",949.0,17.9249,1995-12-15,187436818.0,7.7,1886.0
6,58000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",11860.0,6.67728,1995-12-15,0.0,6.2,141.0
7,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",45325.0,2.56116,1995-12-22,0.0,5.4,45.0
8,35000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",9091.0,5.23158,1995-12-22,64350171.0,5.5,174.0
9,58000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",710.0,14.686,1995-11-16,352194034.0,6.6,1194.0
10,62000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",9087.0,6.31844,1995-11-17,107879496.0,6.5,199.0
11,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",12110.0,5.43033,1995-12-22,0.0,5.7,210.0
12,0.0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",21032.0,12.1407,1995-12-22,11348324.0,7.1,423.0
13,44000000.0,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",10858.0,5.092,1995-12-22,13681765.0,7.1,72.0
14,98000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",1408.0,7.28448,1995-12-22,10017322.0,5.7,137.0
15,52000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",524.0,10.1374,1995-11-22,116112375.0,7.8,1343.0
16,16500000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",4584.0,10.6732,1995-12-13,135000000.0,7.2,364.0
17,4000000.0,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",5.0,9.02659,1995-12-09,4300000.0,6.5,539.0
18,30000000.0,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",9273.0,8.20545,1995-11-10,212385533.0,6.1,1128.0
19,60000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",11517.0,7.33791,1995-11-21,35431113.0,5.4,224.0
20,30250000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",8012.0,12.6696,1995-10-20,115101622.0,6.4,305.0
21,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",1710.0,10.7018,1995-10-27,0.0,6.5,199.0
22,50000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",9691.0,11.0659,1995-10-06,30303072.0,6.0,394.0
23,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",12665.0,12.1331,1995-10-27,0.0,6.3,143.0
24,3600000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",451.0,10.332,1995-10-27,49800000.0,7.1,365.0
25,0.0,"[{'id': 18, 'name': 'Drama'}]",16420.0,1.8459,1995-12-15,0.0,7.0,33.0
26,12000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",9263.0,8.68132,1995-10-20,27400000.0,6.6,91.0
27,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",17015.0,2.22843,1995-09-27,0.0,7.4,36.0
28,18000000.0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",902.0,9.82242,1995-05-16,1738611.0,7.6,308.0
29,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",37557.0,1.10091,1995-04-30,0.0,6.5,17.0
...,...,...,...,...,...,...,...,...
45436,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 9648, 'n...",45527.0,1.270832,2010-01-01,0.0,3.7,11.0
45437,0.0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",455661.0,20.82178,2017-06-01,0.0,8.3,146.0
45438,0.0,"[{'id': 18, 'name': 'Drama'}]",327237.0,0.590087,2015-04-02,0.0,6.8,11.0
45439,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",84710.0,0.143223,1944-06-01,0.0,5.8,2.0
45440,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",39562.0,0.767762,2007-01-08,0.0,5.0,12.0
45441,0.0,"[{'id': 35, 'name': 'Comedy'}]",14008.0,4.392389,2002-03-07,0.0,5.2,145.0
45442,0.0,[],44330.0,0.21926,1905-01-01,0.0,5.0,3.0
45443,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",49279.0,1.618458,1901-01-01,0.0,7.6,29.0
45444,0.0,"[{'id': 14, 'name': 'Fantasy'}]",44333.0,0.208349,1905-01-01,0.0,6.1,8.0
45445,0.0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",49277.0,0.148131,1906-01-01,0.0,4.5,2.0
45446,0.0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",49271.0,0.725084,1909-01-01,0.0,6.7,12.0
45447,0.0,[],44324.0,0.213973,1904-03-05,0.0,6.0,6.0
45448,0.0,[],122036.0,0.071782,1904-01-01,0.0,5.0,2.0
45449,0.0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",14885.0,2.568495,2005-09-13,0.0,5.4,7.0
45450,0.0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",49280.0,1.109068,1900-01-01,0.0,6.5,22.0
45451,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",106807.0,0.225432,1900-01-01,0.0,6.5,6.0
45452,0.0,"[{'id': 99, 'name': 'Documentary'}]",276895.0,0.011025,1981-01-01,0.0,0.0,0.0
45453,0.0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",404604.0,1.559596,2017-07-07,0.0,6.6,14.0
45454,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",420346.0,0.139936,2015-01-11,0.0,4.0,2.0
45455,0.0,[],67179.0,0.225051,1972-01-01,0.0,6.0,3.0
45456,0.0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",84419.0,0.222814,1946-03-29,0.0,6.3,8.0
45457,0.0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",390959.0,0.076061,2000-10-22,0.0,7.0,2.0
45458,0.0,"[{'id': 27, 'name': 'Horror'}]",289923.0,0.38645,2000-10-03,0.0,7.0,1.0
45459,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",222848.0,0.661558,1995-01-01,0.0,3.5,1.0
45460,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840.0,5.683753,1991-05-13,0.0,5.7,26.0
45461,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",439050.0,0.072051,NaN,0.0,4.0,1.0
45462,0.0,"[{'id': 18, 'name': 'Drama'}]",111109.0,0.178241,2011-11-17,0.0,9.0,3.0
45463,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758.0,0.903007,2003-08-01,0.0,3.8,6.0
45464,0.0,[],227506.0,0.003503,1917-10-21,0.0,0.0,0.0
45465,0.0,[],461257.0,0.163015,2017-06-09,0.0,0.0,0.0

In [167]:
metadata = metadata[metadata.revenue > 10000]

In [168]:
df = metadata.set_index('id').join(credits.set_index('id'), on='id', how='inner')

In [169]:
df = df.reset_index()

In [170]:
df.cast = df.cast.apply(ast.literal_eval)
df.crew = df.crew.apply(ast.literal_eval)
df.genres = df.genres.apply(ast.literal_eval)

In [173]:
df.budget[df.budget == 0] = df.budget[df.budget != 0].mean()

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [174]:
df

,id,budget,genres,popularity,release_date,revenue,vote_average,vote_count,cast,crew
0,862.0,3.000000e+07,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",21.9469,1995-10-30,373554033.0,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,8844.0,6.500000e+07,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",17.0155,1995-12-15,262797249.0,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,31357.0,1.600000e+07,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",3.85949,1995-12-22,81452156.0,6.1,34.0,"[{'cast_id': 1, 'character': 'Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
3,11862.0,3.155092e+07,"[{'id': 35, 'name': 'Comedy'}]",8.38752,1995-02-10,76578911.0,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."
4,949.0,6.000000e+07,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",17.9249,1995-12-15,187436818.0,7.7,1886.0,"[{'cast_id': 25, 'character': 'Lt. Vincent Han...","[{'credit_id': '52fe4292c3a36847f802916d', 'de..."
5,9091.0,3.500000e+07,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",5.23158,1995-12-22,64350171.0,5.5,174.0,"[{'cast_id': 1, 'character': 'Darren Francis T...","[{'credit_id': '52fe44dbc3a36847f80ae0f1', 'de..."
6,710.0,5.800000e+07,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",14.686,1995-11-16,352194034.0,6.6,1194.0,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe426ec3a36847f801e14b', 'de..."
7,9087.0,6.200000e+07,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",6.31844,1995-11-17,107879496.0,6.5,199.0,"[{'cast_id': 1, 'character': 'Andrew Shepherd'...","[{'credit_id': '52fe44dac3a36847f80adfa3', 'de..."
8,21032.0,3.155092e+07,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",12.1407,1995-12-22,11348324.0,7.1,423.0,"[{'cast_id': 1, 'character': 'Balto (voice)', ...","[{'credit_id': '593f24b9c3a3680369002371', 'de..."
9,10858.0,4.400000e+07,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",5.092,1995-12-22,13681765.0,7.1,72.0,"[{'cast_id': 1, 'character': 'Richard Nixon', ...","[{'credit_id': '52fe43c59251416c7501d6f3', 'de..."
10,1408.0,9.800000e+07,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",7.28448,1995-12-22,10017322.0,5.7,137.0,"[{'cast_id': 1, 'character': 'Morgan Adams', '...","[{'credit_id': '52fe42f4c3a36847f802f69f', 'de..."
11,524.0,5.200000e+07,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",10.1374,1995-11-22,116112375.0,7.8,1343.0,"[{'cast_id': 4, 'character': 'Sam 'Ace' Rothst...","[{'credit_id': '52fe424dc3a36847f80139cd', 'de..."
12,4584.0,1.650000e+07,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",10.6732,1995-12-13,135000000.0,7.2,364.0,"[{'cast_id': 6, 'character': 'Marianne Dashwoo...","[{'credit_id': '52fe43cec3a36847f807101f', 'de..."
13,5.0,4.000000e+06,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",9.02659,1995-12-09,4300000.0,6.5,539.0,"[{'cast_id': 42, 'character': 'Ted the Bellhop...","[{'credit_id': '52fe420dc3a36847f800011b', 'de..."
14,9273.0,3.000000e+07,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",8.20545,1995-11-10,212385533.0,6.1,1128.0,"[{'cast_id': 1, 'character': 'Ace Ventura', 'c...","[{'credit_id': '52fe44dfc3a36847f80af28b', 'de..."
15,11517.0,6.000000e+07,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",7.33791,1995-11-21,35431113.0,5.4,224.0,"[{'cast_id': 1, 'character': 'John', 'credit_i...","[{'credit_id': '52fe44509251416c750305a1', 'de..."
16,8012.0,3.025000e+07,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",12.6696,1995-10-20,115101622.0,6.4,305.0,"[{'cast_id': 1, 'character': 'Chili Palmer', '...","[{'credit_id': '52fe448dc3a36847f809c729', 'de..."
17,9691.0,5.000000e+07,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",11.0659,1995-10-06,30303072.0,6.0,394.0,"[{'cast_id': 1, 'character': 'Robert Rath', 'c...","[{'credit_id': '52fe451cc3a36847f80bd145', 'de..."
18,451.0,3.600000e+06,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",10.332,1995-10-27,49800000.0,7.1,365.0,"[{'cast_id': 1, 'character': 'Ben Sanderson', ...","[{'credit_id': '52fe4245c3a36847f80111c3', 'de..."
19,9263.0,1.200000e+07,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",8.68132,1995-10-20,27400000.0,6.6,91.0,"[{'cast_id': 9, 'character': 'Young Roberta Ma...","[{'credit_id': '52fe44dec3a36847f80aed45', 'de..."
20,902.0,1.800000e+07,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",9.82242,1995-05-16,1738611.0,7.6,308.0,"[{'cast_id': 24, 'character': 'One', 'credit_i...","[{'credit_id': '52fe428ac3a36847f8026c6f', 'de..."
21,9909.0,3.155092e+07,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",9.48134,1995-08-11,180000000.0,6.4,249.0,"[{'cast_id': 13, 'character': 'Louanne Johnson...","[{'credit_id': '52fe4546c3a36847f80c4e4b', 'de..."
22,63.0,2.950000e+07,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",12.2973,1995-12-29,168840000.0,7.4,2470.0,"[{'cast_id': 41, 'character': 'James Cole', 'c...","[{'credit_id': '52fe4212c3a36847f8001ac7', 'de..."
23,9598.0,3.000000e+07,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",14.4048,1995-07-18,254134910.0,6.0,756.0,"[{'cast_id': 1, 'character': 'Babe the Gallant...","[{'credit_id': '52fe450fc3a36847f80b9ff7', 'de..."
24,687.0,1.100000e+07,"[{'id': 18, 'name': 'Drama'}]",6.89132,1995-12-29,39363635.0,7.3,350.0,"[{'cast_id': 7, 'character': 'Sister Helen Pre...","[{'credit_id': '52fe426ac3a36847f801cf35', 'de..."
25,34615.0,3.155092e+07,"[{'id': 18, 'name': 'Drama'}]",0.894647,1995-12-15,676525.0,6.7,13.0,"[{'cast_id': 4, 'character': 'Rev. Stephen Kum...","[{'credit_id': '52fe456f9251416c91032375', 'de..."
26,9312.0,1.800000e+07,"[{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...",10.8701,1995-08-18,122195920.0,5.4,452.0,"[{'cast_id': 1, 'character': 'Lord Rayden', 'c...","[{'credit_id': '52fe44e6c3a36847f80b0899', 'de..."
27,577.0,2.000000e+07,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",10.4485,1995-05-20,21284514.0,6.7,177.0,"[{'cast_id': 4, 'character': 'Suzanne Stone Ma...","[{'credit_id': '52fe4255c3a36847f8015f49', 'de..."
28,11861.0,1.000000e+07,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",4.48596,1995-10-06,23574130.0,6.5,38.0,"[{'cast_id': 1, 'character': 'Finn Dodd', 'cre...","[{'credit_id': '52fe44959251416c75039e1d', 'de..."
29,807.0,3.300000e+07,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...",18.4574,1995-09-22,327311859.0,8.1,5915.0,"[{'cast_id': 17, 'character': 'Detective David...","[{'credit_id': '52fe4279c3a36847f802176f', 'de..."
...,...,...,...,...,...,...,...,...,...,...
7157,8453.0,5.300000e+06,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",3.003526,2006-05-26,22175908.0,6.7,53.0,"[{'cast_id': 4, 'character': 'Zooni Ali Beg', ...","[{'credit_id': '52fe44aac3a36847f80a3315', 'de..."
7158,341013.0,3.000000e+07,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",14.455104,2017-07-26,90007945.0,6.1,748.0,"[{'cast_id': 0, 'character': 'Lorraine Brought...","[{'credit_id': '555da697925141757e0010d8', 'de..."
7159,374720.0,1.000000e+08,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",30.938854,2017-07-19,519876949.0,7.5,2712.0,"[{'cast_id': 56, 'character': 'Tommy', 'credit...","[{'credit_id': '598138b5925141519b008a5e', 'de..."
7160,411717.0,3.155092e+07,"[{'id': 28, 'name': 'Action'}]",1.459459,2017-01-12,17000000.0,6.5,12.0,"[{'cast_id': 6, 'character': 'Bairavaa', 'cred...","[{'credit_id': '57b46170c3a36819b50050ba', 'de..."
7161,14570.0,8.500000e+06,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",1.542843,1985-05-03,5730596.0,4.7,14.0,"[{'cast_id': 2, 'character': 'Jonathan Cabot',...","[{'credit_id': '52fe46029251416c75069f15', 'de..."
7162,434119.0,8.520000e+06,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",1.75859,2017-01-18,56100000.0,6.2,5.0,"[{'cast_id': 0, 'character': 'Im Chul-ryung', ...","[{'credit_id': '587e7f3cc3a36846c302114c', 'de..."
7163,366170.0,3.155092e+07,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",3.23574,2016-04-23,1015339.0,6.8,29.0,"[{'cast_id': 3, 'character': 'Seto Kaiba (voic...","[{'credit_id': '5635298ec3a3681b59017ec8', 'de..."
7164,411012.0,3.155092e+07,"[{'id': 99, 'name': 'Documentary'}]",0.519968,2017-04-14,393970.0,8.0,2.0,"[{'cast_id': 1, 'character': 'John Coltrane (v...","[{'credit_id': '57adaa94925141588c00537a', 'de..."
7165,335988.0,2.600000e+08,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",39.186819,2017-06-21,604942143.0,6.2,1440.0,"[{'cast_id': 2, 'character': 'Cade Yeager', 'c...","[{'credit_id': '5553e38bc3a368208f000502', 'de..."
7166,123229.0,3.155092e+07,"[{'id': 35, 'name': 'Comedy'}]",9.754955,2012-07-11,103504.0,5.4,92.0,"[{'cast_id': 2, 'character': 'Warner', 'credit...","[{'credit_id': '52fe4a8fc3a368484e15a755', 'de..."
7167,159447.0,2.000000e+06,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",1.456046,2012-12-27,11666088.0,5.3,9.0,"[{'cast_id': 1, 'character': '', 'credit_id': ...","[{'credit_id': '52fe4c119251416c910eeb65', 'de..."
7168,75438.0,2.000000e+06,"[{'id': 35, 'name': 'Comedy'}]",0.397106,2011-07-21,8000000.0,3.1,7.0,"[{'cast_id': 2, 'character': 'Sergey Dobrolyub...","[{'credit_id': '52fe4900c3a368484e11590b', 'de..."
7169,57701.0,3.000000e+06,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",0.445269,2011-02-03,1957000.0,4.7,3.0,"[{'cast_id': 1012, 'character': '', 'credit_id...","[{'credit_id': '52fe4941c3a36847f8190ec5', 'de..."
7170,408024.0,3.155092e+07,"[{'id': 18, 'name': 'Drama'}]",2.404466,2016-08-17,126463.0,6.1,24.0,"[{'cast_id': 1, 'character': 'Diane', 'credit_...","[{'credit_id': '59619ddd9251410bfa0cf8e5', 'de..."
7171,429200.0,3.155092e+07,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",5.798555,2017-08-11,10893246.0,7.3,46.0,"[{'cast_id': 2, 'character': 'Connie Nikas', '...","[{'credit_id': '59209162c3a3687a64049bca', 'de..."
7172,29458.0,3.155092e+07,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",4.67525,2000-08-31,1805884.0,7.8,116.0,"[{'cast_id': 2, 'character': 'Peppino Impastat...","[{'credit_id': '52fe45e1c3a368484e07452f', 'de..."
7173,26147.0,2.196531e+06,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",0.947509,2005-12-30,2411594.0,5.6,10.0,"[{'cast_id': 4, 'character': 'Anna', 'credit_i...","[{'credit_id': '52fe44f0c3a368484e03f5a1', 'de..."
7174,353491.0,6.000000e+07,"[{'id': 28, 'name': 'Action'}, {'id': 37, 'nam...",50.903593,2017-08-03,71000000.0,5.7,688.0,"[{'cast_id': 9, 'character': 'Roland Deschain'...","[{'credit_id': '5912cf71c3a36864d40533b7', 'de..."
7175,290217.0,3.155092e+07,"[{'id': 10749, 'name': 'Romance'}]",0.504,2014-04-25,76000000.0,6.0,4.0,"[{'cast_id': 0, 'character': 'Zhou Xiao Zhi', ...","[{'credit_id': '54064dd90e0a2658d800d8d9', 'de..."
7176,152155.0,3.155092e+07,"[{'id': 18, 'name': 'Drama'}]",0.181963,2012-12-09,14353.0,5.7,3.0,"[{'cast_id': 4, 'character': 'Artyom', 'credit...","[{'credit_id': '52fe4b199251416c910cfbd9', 'de..."
7177,378236.0,5.000000e+07,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",33.694599,2017-07-28,66913939.0,5.8,327.0,"[{'cast_id': 2, 'character': 'Gene (voice)', '...","[{'credit_id': '5952d8f1c3a368151c025d0e', 'de..."
7178,395834.0,1.100000e+07,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",40.796775,2017-08-03,184770205.0,7.4,181.0,"[{'cast_id': 9, 'character': 'Cory Lambert', '...","[{'credit_id': '572815d0c3a3687a00001314', 'de..."
7179,423453.0,3.155092e+07,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",8.665106,2017-02-01,7800000.0,5.4,43.0,"[{'cast_id': 0, 'character': 'Ajar (voice)', '...","[{'credit_id': '5815b1bc9251415c5e00a502', 'de..."
7180,49074.0,3.155092e+07,"[{'id': 28, 'name': 'Action'}]",0.704162,1995-01-15,15000000.0,7.8,14.0,"[{'cast_id': 4, 'character': 'Manikkam / Manic...","[{'credit_id': '58bc1ba0c3a368515d01dc3e', 'de..."
7181,24049.0,1.200000e+07,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",1.323587,2007-06-14,19000000.0,6.9,25.0,"[{'cast_id': 14, 'character': 'Sivaji Arumugam...","[{'credit_id': '52fe447ec3a368484e02663b', 'de..."
7182,264269.0,3.155092e+07,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",0.217441,2014-03-13,320395.0,4.4,4.0,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '53516b7d0e0a2656030016f5', 'de..."
7183,240789.0,3.155092e+07,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",0.436028,2009-10-09,50656.0,6.3,3.0,"[{'cast_id': 2, 'character': 'Kondrashov', 'cr...","[{'credit_id': '57f06fdfc3a3683c3e007507', 'de..."
7184,62757.0,8.000000e+05,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",0.903061,2006-11-23,1328612.0,5.8,6.0,"[{'cast_id': 1001, 'character': 'Mister', 'cre...","[{'credit_id': '52fe468cc3a368484e096ba7', 'de..."
7185,63281.0,2.000000e+06,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",0.121844,2010-09-30,1268793.0,4.0,3.0,"[{'cast_id': 1001, 'character': 'Vlad', 'credi...","[{'credit_id': '52fe46a3c3a368484e09b9fd', 'de..."
7186,63898.0,5.000000e+06,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",0.039793,2007-09-06,1413000.0,1.0,1.0,"[{'cast_id': 2, 'character': 'Koshkin', 'credi...","[{'credit_id': '52fe46c0c3a368484e0a1cd3', 'de..."